@use "../abstracts/varabiles" as var;
@use "../abstracts/mixins" as mix;

.saidbar {
    position: sticky;
    top: 56px;
    left: 0;
    width: 100%;
    min-width: 270px;
    max-width: 270px;
    height: calc(100vh - 56px);
    background: var.$color-white;
    overflow: hidden;
    z-index: 5;
}

@include mix.large {
    .saidbar {
        max-width: 72px;
        min-width: 0;
    }
}

@include mix.small {
    .saidbar {
        position: fixed;
        top: auto;
        left: 0;
        bottom: 0;
        width: 100%;
        min-width: 100%;
        height: 56px;
        z-index: 55;
    }
}

