@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Black.eot");
  src: url("../../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Black.woff2") format("woff2"), url("../../fonts/Roboto-Black.woff") format("woff"), url("../../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-BlackItalic.eot");
  src: url("../../fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../../fonts/Roboto-BlackItalic.woff") format("woff"), url("../../fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.eot");
  src: url("../../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff"), url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-BoldItalic.eot");
  src: url("../../fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../../fonts/Roboto-BoldItalic.woff") format("woff"), url("../../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Italic.eot");
  src: url("../../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Italic.woff2") format("woff2"), url("../../fonts/Roboto-Italic.woff") format("woff"), url("../../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Light.eot");
  src: url("../../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Light.woff2") format("woff2"), url("../../fonts/Roboto-Light.woff") format("woff"), url("../../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-LightItalic.eot");
  src: url("../../fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../../fonts/Roboto-LightItalic.woff") format("woff"), url("../../fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.eot");
  src: url("../../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff"), url("../../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-MediumItalic.eot");
  src: url("../../fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../../fonts/Roboto-MediumItalic.woff") format("woff"), url("../../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.eot");
  src: url("../../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Thin.eot");
  src: url("../../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Thin.woff2") format("woff2"), url("../../fonts/Roboto-Thin.woff") format("woff"), url("../../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-ThinItalic.eot");
  src: url("../../fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../../fonts/Roboto-ThinItalic.woff") format("woff"), url("../../fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #666;
}

::selection {
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: #f9f9f9;
}

button {
  border: none;
  outline: none;
  background: transparent;
  transition: 0.3 ease;
}
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
}

.sub-info::before,
.sub-info::after {
  --scale: 0;
  --border: 10px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  width: max-content;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
}

.sub-info::before {
  --translate-y: 100%;
  content: attr(data-toolTip);
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  transform-origin: bottom center;
  background: var(--color);
  color: white;
}

.sub-info::after {
  content: "";
  border: var(--border) solid transparent;
  border-bottom-color: var(--color);
  transform-origin: top center;
}

.sub-info:hover::before,
.sub-info:hover::after {
  --scale: 1;
  --color: #333;
  visibility: visible;
  opacity: 1;
}

.main-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #ffffff;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  width: 100%;
}

.main-header__start {
  display: flex;
  align-items: center;
}

.main-header__menu {
  width: 40px;
  height: 40px;
}

.main-header__menu--btn {
  display: flex;
  align-items: center;
  padding: 8px;
  background: transparent;
  cursor: pointer;
}
.main-header__menu--btn svg {
  fill: #606060;
}

.main-header__logo {
  position: relative;
  width: 120px;
  height: 56px;
}

.main-header__link {
  position: relative;
  display: inline-block;
  padding: 18px 16px;
}

.main-header__lang {
  position: absolute;
  top: 10px;
  right: 0;
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}

.main-header__strt-pointer {
  position: relative;
  display: none;
}
.main-header__strt-pointer:hover {
  cursor: pointer;
}

.main-header__center {
  display: flex;
  align-items: center;
  flex: 0 1 728px;
  min-width: 0;
}

.main-header__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-left: 40px;
  box-shadow: inset 0 0 1px 1px #f3f3f3;
  background: #ffffff;
}

.main-header__input-box {
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 1.5px solid #cccccc;
  background: transparent;
  padding: 0 5px;
}
.main-header__input-box input {
  width: 100%;
  height: 100%;
  padding-right: 40px;
  border: none;
  outline: 0;
  background: transparent;
  font-size: 15px;
  color: #666;
  letter-spacing: 1px;
  font-weight: 600;
}

.main-header__hidden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  pointer-events: none;
  top: -1px;
  margin-left: -43px;
  width: calc(100% + 40px);
  height: calc(100% + 1.5px);
  border: 1.5px solid blue;
  box-shadow: inset 0 0 2px 1px #cccccc;
  visibility: visible;
  opacity: 0;
  padding: 0 10px;
}
.main-header__hidden svg {
  fill: #444;
  opacity: 0.8;
}
.main-header__hidden svg:last-child {
  pointer-events: visible;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.main-header__clear-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.main-header__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  background: #f8f8f8;
  box-shadow: inset 0 0 1px 1px #cccccc;
  transition: all 0.5s ease;
}
.main-header__btn:hover {
  background: #f4f4f4;
  box-shadow: inset 0 0 1px 1px #cccccc, 0 1px 1px #cccccc;
  cursor: pointer;
}
.main-header__btn svg {
  fill: #444;
  opacity: 0.8;
}

.main-header__small-search {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background: #f9f9f9;
  border-radius: 50%;
}
.main-header__small-search svg {
  fill: #444;
}
.main-header__small-search:hover {
  cursor: pointer;
}

.main-header__vois {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  background: #f9f9f9;
  border-radius: 50%;
  flex-shrink: 0;
}

.main-header__end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__end-itmes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header__end-itme {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin: 0 10px;
}
.main-header__end-itme:first-child {
  margin-left: 0;
}
.main-header__end-itme:last-child {
  margin-right: 0;
}

.main-header__end-btn {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 7px;
  cursor: pointer;
}
.main-header__end-btn img {
  width: 100%;
  height: 100%;
}

.main-header__end-user {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-left: 20px;
  background: #4bca1c;
  border-radius: 50%;
  cursor: pointer;
}
.main-header__end-user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 991.98px) {
  .main-header__center {
    display: flex;
  }
}
@media (max-width: 767.98px) {
  .main-header__center {
    justify-content: flex-end;
    margin-right: 5px;
  }

  .main-header__form {
    display: none;
  }

  .main-header__end-itme {
    margin: 0 5px;
  }

  .main-header__small-search {
    display: flex;
  }
}
@media (max-width: 575.98px) {
  .main-header__menu {
    display: none;
  }

  .main-header__link {
    padding-left: 5px;
  }

  .main-header__strt-pointer {
    justify-content: center;
    align-items: center;
    height: 25px;
  }

  .main-header__form {
    height: 25px;
    border: none;
    box-shadow: none !important;
    margin-left: 10px;
  }

  .main-header__input {
    box-shadow: none;
    padding-right: 0 !important;
  }

  .main-header__input-box {
    border: none;
    border-bottom: 2px solid #333;
    box-shadow: none;
  }

  .main-header__hidden {
    display: none;
  }

  .main-header__btn {
    height: 25px;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    padding-left: 8px;
    padding-right: 8px;
  }
  .main-header__btn:hover {
    box-shadow: none;
    background: none;
  }

  .main-header__vois {
    display: none;
  }

  .main-header__end-itmes {
    display: none;
  }

  .main-header__end-user {
    margin-left: 5px;
  }
}
.saidbar {
  position: relative;
  width: 100%;
  min-width: 270px;
  max-width: 270px;
  height: calc(100vh - 56px);
  background: #ffffff;
  overflow: hidden;
  z-index: 5;
}

@media (max-width: 1199.98px) {
  .saidbar {
    max-width: 72px;
    min-width: 0;
  }
}
@media (max-width: 767.98px) {
  .saidbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    height: 56px;
  }
}
.navbar-medium {
  display: none;
  width: 100%;
  height: 100%;
}

.navbar-medium__itmes {
  width: 100%;
  height: 100%;
}

.navbar-medium__itme {
  width: 100%;
  height: 76px;
}
.navbar-medium__itme:hover {
  background: #e0e0e0;
}
.navbar-medium__itme.active i {
  color: black;
}

.navbar-medium__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  color: #606060;
}
.navbar-medium__link i {
  pointer-events: none;
  font-size: 22px;
  margin-bottom: 5px;
}
.navbar-medium__link small {
  pointer-events: none;
  font-size: 10px;
}

.saidbar__wrapper {
  width: 270px;
  height: 100%;
  overflow: hidden;
  display: flex;
  pointer-events: none;
  transition: 100ms ease;
}

.navbar-wrapper {
  position: relative;
  width: 260px;
  max-height: 100vh;
  background: transparent;
  overflow: hidden;
  padding-right: 5px;
  pointer-events: none;
}

.navbar:hover::-webkit-scrollbar-thumb {
  background: #666;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
  pointer-events: all;
}
.navbar hr {
  border-top: 5px;
  width: 97%;
  color: black;
  margin: 10px 0;
}

.navbar-container {
  width: 100%;
  height: calc(100vh - 56px);
}

.navbar__itmes {
  width: 97%;
}

.navbar__itme {
  width: 100%;
}

.navbar__link {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #606060;
  overflow: hidden;
}
.navbar__link i {
  font-size: 24px;
  margin-right: 20px;
}
.navbar__link small {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}
.navbar__link:hover {
  background: #f9f9f9;
}
.navbar__link.active {
  color: black;
  font-weight: 600;
  background: #f9f9f9;
}

.navbar-shadow {
  display: none;
  width: calc(100% - 260px);
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
  transform: none;
}

.users-list--wrapper {
  width: 100%;
  height: 275px;
  overflow: hidden;
}

.navbar__title {
  padding: 10px 20px;
  color: #606060;
}

.users-list__link {
  position: relative;
}
.users-list__link small {
  font-size: 15px;
}

.users-list__img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
}
.users-list__img img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.indecatar {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #0288d1;
}

.users-list__btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
}
.users-list__btn i {
  margin-right: 10px;
}
.users-list__btn:hover {
  background: #f9f9f9;
  cursor: pointer;
}

.navbar__footer {
  padding: 10px 20px;
}

.navbar__footer-linls-ul {
  padding-right: 50px;
}

.navbar__footer-linls-ul:nth-child(2) {
  margin-top: 15px;
}

.navbar__footer-link-ul {
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}
.navbar__footer-link-ul:hover {
  text-decoration: underline;
}

.copyriting {
  opacity: 0.8;
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  color: #606060;
}
.copyriting i {
  margin-right: 2px;
  font-size: 14px;
}

@media (max-width: 1199.98px) {
  .navbar-medium {
    display: block;
  }

  .saidbar__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
  }

  .navbar {
    top: 56px;
  }

  .navbar-shadow {
    display: block;
    width: 0px;
  }
}
@media (max-width: 767.98px) {
  .navbar-medium {
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 100%;
  }

  .navbar-medium__itmes {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .navbar-medium__itme {
    height: 100%;
  }

  .navbar-medium__link {
    padding: 10px 0;
  }

  .saidbar__wrapper {
    display: none;
  }

  .main-header__menu {
    display: none;
  }
}
.categoris {
  width: 100%;
  height: 56px;
  border: 1px solid #9999;
  border-right: none;
  border-left: none;
  background-color: #ffffff;
  padding: 0 20px;
  overflow: hidden;
}
.categoris__itmes {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: text-content;
  height: 100%;
  z-index: 0;
  white-space: nowrap;
}
.categoris__itme {
  margin: 0 10px;
  flex-shrink: 0;
}
.categoris__itme:last-child {
  margin-right: 0;
}
.categoris__itme:first-child {
  margin-left: 0;
}
.categoris__btn {
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid #9999;
  border-radius: 20px;
  font-weight: 500;
}
.categoris__btn:hover {
  cursor: pointer;
}
.categoris__btn:active {
  border-color: #fff;
}
.categoris__btn.active {
  background: #333;
  color: #fff;
}
.categoris__control-btn {
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.categoris__control-btn:hover {
  cursor: pointer;
}
.categoris__control-btn:active {
  opacity: 0.6;
}
.categoris__control-btn-left {
  left: 0;
}
.categoris__control-btn-right {
  right: 0;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.vh-1 {
  min-height: calc(100vh - 56px);
}

.parent-wrapper {
  justify-content: flex-start;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
  height: 100%;
  overflow: hidden;
}

.main {
  width: calc(100% - 270px);
}

@media (max-width: 1199.98px) {
  .main {
    width: calc(100% - 72px);
  }
}
@media (max-width: 767.98px) {
  .main {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
