@use "../abstracts/varabiles" as var;
html {
    font-size: 16px;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #666;
}



body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: var.$color-light;
//    overflow-x: hidden;
}
button {
    border: none;
    outline: none;
    background: transparent;
    transition: .3 ease;
    &:focus {
        outline: none;
    }
}